spring:
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/myflix
    username: <username>
    password: <password>
  jpa:
    show-sql: true
    generate-ddl: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
    database: postgresql
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl

jwtSecret: a-string-secret-at-least-256-bits-long
jwtExpiration: 86400

logging:
  level:
    org:
      springframework:
        jdbc:
          datasource:
            init: DEBUG
      hibernate:
        tool:
          hbm2ddl: DEBUG